/* General Styles */

.header {
  width: 80%;
  max-height: 10vh;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 1em;
  margin: 0 auto;
  background: transparent;
  transition: 0.2s all linear;
}

.title {
  flex-grow: 1;
  transition: 0.2s all linear;
}

.switchButton {
  text-transform: none;
  margin: 0 !important;
  transition: 0.2s all linear;
}

.sun {
  color: yellow;
  transition: 0.2s all linear;
}

.moon {
  color: blue;
  transition: 0.2s all linear;
}
  
.nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 0.5em 1em;
  margin: 0 auto;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 0.5px inset rgba(255, 255, 255, 1);
  transition: 0.2s all linear;
}

.navButton {
  transition: 0.2s all linear;
}

.navIcon {
  font-size: 2em;
  transition: 0.2s all linear;
}

.navType {
  transition: 0.2s all linear;
}
  
.heading {
  text-transform: uppercase;
  transition: 0.2s all linear;
}
  
.para {
  width: 70vw;
  transition: 0.2s all linear;
}
  
/* Light Mode Styles */
  
.light {
  color: #222;
}

.nav-light {
  color: #222;
}
  
/* Dark Mode Styles */
  
.dark {
  color: #fff;
}

.nav-dark {
  color: #fff;
  background-color: #222;
}