/* General Styles */

.header {
    /* height: 10vh; */
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    margin: 0.5em;
    transition: 0.2s all linear;
  }
  
  .nav {
    /* height: 10vh; */
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s all linear;
  }
  
  .footer {
    /* height: 10vh; */
    text-align: center;
    position: sticky;
    bottom: 0;
    text-transform: uppercase;
    transition: 0.2s all linear;
  }
  
  .btn {
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    /* margin-top: 20px; */
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s all linear;
  }
  
  .heading {
    text-transform: uppercase;
    transition: 0.2s all linear;
  }
  
  .para {
    width: 70vw;
    transition: 0.2s all linear;
  }
  
  /* Light Mode Styles */
  
  .header-light {
    color: #222;
    /* background-color: #fff; */
  }
  
  .nav-light {
    color: #222;
    /* background-color: #fff; */
  }
  
  .footer-light {
    color: #222;
    /* background-color: #fff; */
  }
  
  .heading-light {
    color: #222;
  }
  
  .para-light {
    color: #222;
  }
  
  .btn-light {
    background-color: #222;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
  
  /* Dark Mode Styles */
  
  .header-dark {
    color: #fff;
    /* background-color: #222; */
  }
  
  .nav-dark {
    color: #fff;
    /* background-color: #222; */
  }
  
  .footer-dark {
    color: #fff;
    /* background-color: #222; */
  }
  
  .heading-dark {
    color: #fff;
  }
  
  .para-dark {
    color: #fff;
  }
  
  .btn-dark {
    background-color: #fff;
    color: #222;
  
  }