/* General Styles */

.header {
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    margin: 0.5em;
    transition: 0.2s all linear;
  }
  
  .nav {
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: space-evenly; */
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s all linear;
  }

  .navButtons {
    display: flex;
    flex-direction: column;
    transition: 0.2s all linear;
  }

  .navButton {
    font-size: 2em;
    transition: 0.2s all linear;
  }

  .navType {
    transition: 0.2s all linear;
  }
  
  .footer {
    text-align: center;
    position: sticky;
    bottom: 0;
    text-transform: uppercase;
    transition: 0.2s all linear;
  }
  
  .btn {
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s all linear;
  }
  
  .heading {
    text-transform: uppercase;
    transition: 0.2s all linear;
  }
  
  .para {
    width: 70vw;
    transition: 0.2s all linear;
  }
  
  /* Light Mode Styles */
  
  .header-light {
    color: #222;
  }
  
  .nav-light {
    color: #222;
  }

  .navButton-light {
    color: #222;
  }

  .navType-light {
    color: #222;
  }
  
  .footer-light {
    color: #222;
  }
  
  .heading-light {
    color: #222;
  }
  
  .para-light {
    color: #222;
  }
  
  .btn-light {
    background-color: #222;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
  
  /* Dark Mode Styles */
  
  .header-dark {
    color: #fff;
  }
  
  .nav-dark {
    color: #fff;
  }

  .navButton-dark {
    color: #fff;
  }

  .navType-dark {
    color: #fff;
  }
  
  .footer-dark {
    color: #fff;
  }
  
  .heading-dark {
    color: #fff;
  }
  
  .para-dark {
    color: #fff;
  }
  
  .btn-dark {
    background-color: #fff;
    color: #222;
  
  }