/* General Styles */

.bg {
  height: 100vh;
  padding: 20px 50px;
  overflow: auto;
  transition: 0.2s all linear;
}

/* Light Mode Styles */

.bg-light {
  background-color: #fff;
}

/* Dark Mode Styles */

.bg-dark {
  background: rgb(34,34,34);
  background: linear-gradient(180deg, rgba(34,34,34,1) 0%, rgba(38,79,142,1) 35%, rgba(80,191,247,1) 100%);
}